<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>About Dev-Editor</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">

<h1>About Dev-Editor</h1>

<p>Dev-Editor {VERSION}</p>

<p>&copy;&nbsp;1999-2000 Roland Bl&uuml;thgen, <a href="http://www.defined.de/" target="_blank">Frank Sch&ouml;nmann</a><br />
&copy;&nbsp;2003-2004 <a href="http://www.patshaping.de/" target="_blank">Patrick Canterino</a></p>

<p><a href="http://devedit.sourceforge.net/artistic.txt" target="_blank">View license</a> (needs an active internet connection)</p>

<p><a href="http://devedit.sourceforge.net/" target="_blank">http://devedit.sourceforge.net/</a></p>

<hr>

<table border="0">

<tr>
<td><b>Physical script path:</b></td>
<td>{SCRIPT_PHYS}</td>
</tr>

<tr>
<td><b>Path to configuration file:</b></td>
<td>{CONFIG_PATH}</td>
</tr>

<tr>
<td><b>Physical root directory:</b></td>
<td>{FILE_ROOT}</td>
</tr>

<tr>
<td><b>HTTP root:</b></td>
<td>{HTTP_ROOT}</td>
</tr>

<tr>
<td><b>Perl executable:</b></td>
<td>{PERL_PROG}</td>
</tr>

<tr>
<td><b>Perl version:</b></td>
<td>{PERL_VER}</td>
</tr>

<tr>
<td><b>HTTP server software:</b></td>
<td>{HTTPD}</td>
</tr>

<tr>
<td><b>Server operating system:</b></td>
<td>{OS}</td>
</tr>

<tr>
<td><b>Server time:</b></td>
<td>{TIME}</td>
</tr>

<tr>
<td><b>Process ID:</b></td>
<td>{PID}</td>
</tr>
{IF users}
<tr>
<td><b>User:</b></td>
<td>{USER} (UID: {UID})</td>
</tr>

<tr>
<td><b>Group:</b></td>
<td>{GROUP} (GID: {GID})</td>
</tr>
{ENDIF}
</table>

<hr>

</body>
</html>