<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>Change properties of {FILE}</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">

<h1>Change properties of {FILE}</h1>

<p>(equals <a href="{URL}" target="_blank">{URL}</a>)</p>

<p><a href="{SCRIPT}?command=show&amp;file={DIR}">Back to {DIR}</a></p>

<p>Current mode: {MODE_STRING} (Octal: {MODE_OCTAL})</p>

<p>Current group: {IF group_detected}{GROUP} ({ENDIF}GID: {GID}{IF group_detected}){ENDIF}</p>

<hr>

<table border="0">
<tr>
<td>Change mode:</td>
<form action="{SCRIPT}" method="get">
<input type="hidden" name="command" value="chprop">
<input type="hidden" name="file" value="{FILE}">
<td><input type="text" name="mode"> <input type="submit" value="Change!"></td>
</form>
</tr>
<tr>
<td>Change group:</td>
<form action="{SCRIPT}" method="get">
<input type="hidden" name="command" value="chprop">
<input type="hidden" name="file" value="{FILE}">
<td><input type="text" name="group"> <input type="submit" value="Change!"></td>
</form>
</tr>
</table>

<p><b>Notes:</b></p>

<ul>
<li><b>Change mode:</b><br>
Use an <b>octal</b> number to change the mode of the file. You may use the three or four number form. For this, SetUID, SetGID and Sticky Bit are also supported.</li>
<li><b>Change group:</b><br>
Enter the group name or the group ID the file should be assigned to. If a group name is also a numeric group ID, the value is used as a group name.</li>
</ul>

<hr>

<p align="right"><a href="{SCRIPT}?command=about" target="_blank"><i>About Dev-Editor</i></a></p>
</body>
</html>