<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>Replace exisiting file</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">

<h1>Replace exisiting file</h1>

<p>A file called '{NEW_FILE}' already exists. Do you want to replace it?</p>

<form action="{SCRIPT}" method="post">
<input type="hidden" name="command" value="{COMMAND}">
<input type="hidden" name="file" value="{FILE}">
<input type="hidden" name="newfile" value="{NEW_FILENAME}">
<input type="hidden" name="curdir" value="{NEW_DIR}">
<input type="hidden" name="confirmed" value="1">

<p><input type="submit" value="Yes"></p>
</form>

<form action="{SCRIPT}" method="get">
<input type="hidden" name="command" value="show">
<input type="hidden" name="file" value="{DIR}">

<p><input type="submit" value="No"></p>
</form>
</body>
</html>