<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>Directory listing of {DIR}</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<script type="text/javascript">
function selectAll()
{
 if(document.forms[0])
 {
  for(var x = 0; x < document.forms[0].length; x++)
  {
   if(document.forms[0].elements[x].name == "files" && document.forms[0].elements[x].type == "checkbox")
   {
    document.forms[0].elements[x].checked = true
   }
  }
 }
}

function unselectAll()
{
 if(document.forms[0])
 {
  for(var x = 0; x < document.forms[0].length; x++)
  {
   if(document.forms[0].elements[x].name == "files" && document.forms[0].elements[x].type == "checkbox")
   {
    document.forms[0].elements[x].checked = false
   }
  }
 }
}
</script>
</head>
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">

<h1>Directory listing of {DIR}</h1>

<p>(equals <a href="{URL}" target="_blank">{URL}</a>)</p>

<hr>

{IF empty}<p><i>This directory is empty or nothing is matching against your wildcard</i></p>{ELSE}<form>
<input type="hidden" name="command" value="remove_multi">
<input type="hidden" name="file" value="{DIR}">

<table border="0" style="font-family:'Courier New',Courier,monospace;font-size:10pt;">
{DIRLIST}</table>

<hr>

<p><a onclick="selectAll(); return false;" href="#">Select all</a> / <a onclick="unselectAll(); return false;" href="#">Unselect all</a></p>

<p><input type="submit" value="Delete selected files"></p>

</form>{ENDIF}

<hr>

<table border="0">
<tr>
<form action="{SCRIPT}">
<input type="hidden" name="command" value="mkdir">
<input type="hidden" name="curdir" value="{DIR}">
<td>Create new directory:</td>
<td>{DIR} <input type="text" name="newfile"> <input type="submit" value="Create!"></td>
</form>
</tr>

<tr>
<td>Create new file:</td>
<form action="{SCRIPT}">
<input type="hidden" name="command" value="mkfile">
<input type="hidden" name="curdir" value="{DIR}">
<td>{DIR} <input type="text" name="newfile"> <input type="submit" value="Create!"> <input type="checkbox" name="edit" id="edit" value="1"><label for="edit">Open file for editing</label></td>
</form>
</tr>
{IF dir_writeable}
<tr>
<td colspan="2"><a href="{SCRIPT}?command=upload&amp;file={DIR_URL}">Upload a file</a></td>
</tr>
{ENDIF}</table>

<hr>

<table border="0" width="100%">
<tr>
<td>
<table border="0">
<tr>
<form action="{SCRIPT}">
<input type="hidden" name="command" value="show">{IF filter}
<input type="hidden" name="filter" value="{FILTER}">{ENDIF}
<td>Go to directory/file:</td>
<td><input type="text" name="file" value="{DIR}"></td>
<td><input type="submit" value="Go!"></td>
</form>
</tr>
<tr>
<form action="{SCRIPT}">
<input type="hidden" name="command" value="show">
<input type="hidden" name="file" value="{DIR}">
<td>Filter:</td>
<td><input type="text" name="filter" value="{FILTER}"></td>
<td><input type="submit" value="Filter!"></td>
</form>
</tr>
</table>
</td>
<td align="right" valign="top"><a href="{SCRIPT}?command=about" target="_blank"><i>About Dev-Editor</i></a></td>
</tr>
</table>
</body>
</html>